$widthSite: 1140px;
$mainColor: #f16d7f;
$colorBlock: #222;
$textColor: #000;
$textColorHover: #fff;
$transition: all 0.3s ease;
$gapGrid: 30px;
$thirdSite: ($widthSite - $gapGrid * 2) / 3;
$widthBurgerMenu: 232px;

//Шрифты
$font-900: 900;
$font-700: 700;
$font-600: 600;
$font-400: 400;
$font-300: 300;
